header, a, p, .txt{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	color: grey;
}
h3{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;	
	color: grey;
}
hr{
	width: 90%
}

.my-img{
	box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.5);
}


.links a{
	color: gray;
}
.links a:hover{
	text-decoration: none;
	color: gray;
}

/*Photo text*/
.example3 {
    display:inline-block;   
    position:relative;
}
.example3 .example-text {
    display:block;
    position:absolute;
    
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    color:#fff;     
}
.example3 h6 {
    font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
    font-size:22px;
    padding-left:10px;
}
.example3 span {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
    font-size:13px; 
    padding-left:10px;
    padding-bottom:10px;
    display:block;
}


