*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

body{
    background-image: url("../img/woodfloor.jpg");
}

.players{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 20px;
}

#board{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 850px;
    height: 850px;
    background-color: #D8A842;
    box-shadow: 0px 10px 100px 11px rgba(95, 95, 95, 0.75);
    margin-bottom: 50px;
}

table, tr, td{
    margin: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    width: 50px;
    height: 50px;
}

#grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(15, 50px);
    grid-auto-rows: 50px;
 }

 .box{
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    margin: -25px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
 }

 .box:hover{
    background-color: rgba(240, 240, 240, 0.5);
 }


 .white{
     background-color: #fff;
     box-shadow: 0 2px 5px rgb(71, 71, 71);
     border-radius: 100%;
 }

 .black{
    background-color: #000;
    box-shadow: 0 2px 5px rgb(71, 71, 71);
    border-radius: 100%;
 }