body {
    background-color: #F8F9FA;
}

#header,
a,
p,
.txt {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: grey;
}

h3,
h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: grey;
}

hr {
    width: 93%
}

.my-img {
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.links a {
    color: gray;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: none;
    color: gray;
}


/*Photo text*/

.example3 {
    display: inline-block;
    position: relative;
}

.example3 {
    filter: grayscale(100%);
    transition: 1s;
}

.example3:hover {
    filter: grayscale(0);
    transform: scale(1.05);
}

.example3 .example-text {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}

.example3 h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding-left: 10px;
}

.example3 span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: block;
}

h3 {
    padding-bottom: 10px;
}


/* SKILLBAR */

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: rgb(221, 221, 221);
    height: 35px;
    border-right: 3px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 35px;
    width: 0;
    background: #6adcfa;
    border-right: 3px;
}

.skillbar-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    color: #444;
    color: rgba(0, 0, 0, 0.4);
}


/* END SKILLBAR */


/* back to top */

.btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gray;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-top:hover {
    background-color: #444;
}


/* end back to top */

#works {
    margin-bottom: 20px;
}

.myCard {
    margin-bottom: 20px;
}

.myClose {
    -webkit-appearance: none !important;
}